<div class="element-item <%=post.ex %>">

<div class="name"><%=post.title %></div>



   <img src= <%=post.image %> class="schilderij">

  

    <date class="datum"><div class="par">Artiest:   </div><%=post.artist %></date>
  
   <br>

 
   <date class="datum"><div class="par">Datum:   </div><%=post.date %></date>
  
    <br>

   <date class="datum"><div class="par">Afmetingen:   </div><%=post.dim %></date>

   <div class="data-filter prog"><div class="par">Exhibitie:   </div><%=post.ex %></div>
   <a href="/werken/<%=index %>" class="verder">Zie in detail</a>

</div>